<!doctype html>
<html>
<head>
<title>My Travel App</title>
  
</head>
<body>
<h1> Hello user</h1>
<h2> Welcome to My Travel App</h2>
<img src = "https://project1bucketlalo.s3.amazonaws.com/database.jpg">
<p>In this app you can register and edit your latests trips and also check on countries with lowest life expectancy</p>
<p>In this link you will be able to make the changes you wish!</p>
<a href="/input_trip"> Choose what you wish to edit on the trips database!</a>
<br></br>
<p>In this link you will get access to the countries in the world that have the lowest life expectancy in descending order</p>
<a href="/databasetextbox"> Query the SQL Database!</a>
</body>
</html>
